$bg-color-dark: #2b2e4a;
$text-color-dark: #e84545;
$shadow-color-dark: #903749;
$btn-color-dark: #53354a;

$bg-color-light: #FFF;
$text-color-light: #404466;
$shadow-color-light: #2b2e4a;
$btn-color-light: #7378A3 ;