@import './assets/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

a {
  text-decoration: none;
}
body {
  font-family: 'Work Sans', sans-serif;
}

body {
  background: $bg-color-dark;
  color: $text-color-dark ;
  .navbar-brand, .navbar-brand:hover {
    user-select: none;
    color: $text-color-dark;
  }
  .header-btn {
    color: $text-color-dark;
    border-color: $text-color-dark;
  }
  .header-btn:hover {
    color: $bg-color-dark;
    background-color: $text-color-dark;
  }
  .start-btn {
    background-color: $text-color-dark;
    color: $text-color-light;
  }
  .start-btn:hover{
    box-shadow: 1px 0px 5px $text-color-dark;
  }
  .start-btn:hover + .start-btn-shadow {
    box-shadow: 1px 0px 5px $text-color-dark;
  }
  .start-btn-shadow {
    background-color: $shadow-color-dark;
  }
  
}
.navbar {
  border-bottom: 1px solid #333757;
  a:active {
    color: $text-color-dark;
  }
}
