[data-theme = 'dark'] {
  --bg-color: #333757;
  --text-color: #FFF;
}
[data-theme='light'] {
  --bg-color: #FF;
  --text-color: #000;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
.navbar-brand {
  color: var(--text-color);
}

.navbar {
  border-bottom: 1px solid #333757;
}

