.h-90 {
  height: 90vh !important;
}
.start-btn-container {
  position: relative;
  .start-btn {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    span {
      font-size: 1.5rem;
      line-height: 1.25rem;
    }
  }
  .start-btn-shadow {
    z-index: -1;
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    top: 15px;
    transition: .3s;
  }
  .start-btn:active {
    top: 15px;
  }
}